@import "http://fonts.googleapis.com/css?family=Droid+Serif:400,700";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/**
 *		compassButtons 1.01
 *		Author: johanneshagenberg@googlemail.com
 *
 *		requires compass/css3
 *
 */
/**
 *	button presentational attributes
 *
 */
/**
 *	button behaviour
 */
/* line 10, ../sass/exampleButtons.scss */
.button, .button-black, .button-light-grey, .button-blue, .button-green, .button-red, .button-violet {
  min-width: 100px;
  height: 34px;
  border: 1px solid;
  margin: 0;
  line-height: 34px;
  text-align: center;
  padding: 0 1%;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background-color: #282828;
  border-color: #202020;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 85, ../sass/compassButtons.scss */
  .button:focus, .button-black:focus, .button-light-grey:focus, .button-blue:focus, .button-green:focus, .button-red:focus, .button-violet:focus {
    outline: none; }
  /* line 89, ../sass/compassButtons.scss */
  .button:disabled, .button-black:disabled, .button-light-grey:disabled, .button-blue:disabled, .button-green:disabled, .button-red:disabled, .button-violet:disabled {
    opacity: .2;
    cursor: default; }
  /* line 37, ../sass/compassButtons.scss */
  .button:hover, .button-black:hover, .button-light-grey:hover, .button-blue:hover, .button-green:hover, .button-red:hover, .button-violet:hover {
    background-color: #3d3d3d;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button:active, .button-black:active, .button-light-grey:active, .button-blue:active, .button-green:active, .button-red:active, .button-violet:active {
    background-color: #202020; }
  /* line 62, ../sass/compassButtons.scss */
  .button:disabled:hover, .button-black:disabled:hover, .button-light-grey:disabled:hover, .button-blue:disabled:hover, .button-green:disabled:hover, .button-red:disabled:hover, .button-violet:disabled:hover, .button:disabled:active, .button-black:disabled:active, .button-light-grey:disabled:active, .button-blue:disabled:active, .button-green:disabled:active, .button-red:disabled:active, .button-violet:disabled:active {
    background-color: #282828; }

/* line 15, ../sass/exampleButtons.scss */
.button-black {
  color: white;
  background-color: #282828;
  border-color: #202020;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-black:hover {
    background-color: #3d3d3d;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-black:active {
    background-color: #202020; }
  /* line 62, ../sass/compassButtons.scss */
  .button-black:disabled:hover, .button-black:disabled:active {
    background-color: #282828; }

/* line 20, ../sass/exampleButtons.scss */
.button-light-grey {
  color: black;
  background-color: #efefef;
  border-color: #bfbfbf;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-light-grey:hover {
    background-color: #f0f0f0;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-light-grey:active {
    background-color: #bfbfbf; }
  /* line 49, ../sass/compassButtons.scss */
  .button-light-grey:hover {
    background-color: #bfbfbf;
    border-color: #8c8c8c; }
  /* line 54, ../sass/compassButtons.scss */
  .button-light-grey:active {
    background-color: #8c8c8c; }
  /* line 62, ../sass/compassButtons.scss */
  .button-light-grey:disabled:hover, .button-light-grey:disabled:active {
    background-color: #efefef; }

/* line 25, ../sass/exampleButtons.scss */
.button-blue {
  color: white;
  background-color: #5878b7;
  border-color: #466092;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-blue:hover {
    background-color: #6885be;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-blue:active {
    background-color: #466092; }
  /* line 62, ../sass/compassButtons.scss */
  .button-blue:disabled:hover, .button-blue:disabled:active {
    background-color: #5878b7; }

/* line 30, ../sass/exampleButtons.scss */
.button-green {
  color: white;
  background-color: #58b783;
  border-color: #469268;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-green:hover {
    background-color: #68be8f;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-green:active {
    background-color: #469268; }
  /* line 62, ../sass/compassButtons.scss */
  .button-green:disabled:hover, .button-green:disabled:active {
    background-color: #58b783; }

/* line 35, ../sass/exampleButtons.scss */
.button-red {
  color: white;
  background-color: #d91f1f;
  border-color: #ad1818;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-red:hover {
    background-color: #dc3535;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-red:active {
    background-color: #ad1818; }
  /* line 62, ../sass/compassButtons.scss */
  .button-red:disabled:hover, .button-red:disabled:active {
    background-color: #d91f1f; }

/* line 40, ../sass/exampleButtons.scss */
.button-violet {
  color: white;
  background-color: #844dbd;
  border-color: #693d97;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  /* line 37, ../sass/compassButtons.scss */
  .button-violet:hover {
    background-color: #905ec3;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-violet:active {
    background-color: #693d97; }
  /* line 62, ../sass/compassButtons.scss */
  .button-violet:disabled:hover, .button-violet:disabled:active {
    background-color: #844dbd; }

/* line 46, ../sass/exampleButtons.scss */
[class*="-rounded"] {
  min-width: 100px;
  height: 34px;
  border: 1px solid;
  margin: 0;
  line-height: 34px;
  text-align: center;
  padding: 0 1%;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 85, ../sass/compassButtons.scss */
  [class*="-rounded"]:focus {
    outline: none; }
  /* line 89, ../sass/compassButtons.scss */
  [class*="-rounded"]:disabled {
    opacity: .2;
    cursor: default; }

/* line 50, ../sass/exampleButtons.scss */
.button-black-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: white;
  background-color: #282828;
  border-color: #202020;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-black-rounded:hover {
    background-color: #3d3d3d;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-black-rounded:active {
    background-color: #202020; }
  /* line 62, ../sass/compassButtons.scss */
  .button-black-rounded:disabled:hover, .button-black-rounded:disabled:active {
    background-color: #282828; }

/* line 54, ../sass/exampleButtons.scss */
.button-light-grey-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: black;
  background-color: #efefef;
  border-color: #bfbfbf;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-light-grey-rounded:hover {
    background-color: #f0f0f0;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-light-grey-rounded:active {
    background-color: #bfbfbf; }
  /* line 49, ../sass/compassButtons.scss */
  .button-light-grey-rounded:hover {
    background-color: #bfbfbf;
    border-color: #8c8c8c; }
  /* line 54, ../sass/compassButtons.scss */
  .button-light-grey-rounded:active {
    background-color: #8c8c8c; }
  /* line 62, ../sass/compassButtons.scss */
  .button-light-grey-rounded:disabled:hover, .button-light-grey-rounded:disabled:active {
    background-color: #efefef; }

/* line 58, ../sass/exampleButtons.scss */
.button-blue-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: white;
  background-color: #5878b7;
  border-color: #466092;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-blue-rounded:hover {
    background-color: #6885be;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-blue-rounded:active {
    background-color: #466092; }
  /* line 62, ../sass/compassButtons.scss */
  .button-blue-rounded:disabled:hover, .button-blue-rounded:disabled:active {
    background-color: #5878b7; }

/* line 62, ../sass/exampleButtons.scss */
.button-green-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: white;
  background-color: #58b783;
  border-color: #469268;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-green-rounded:hover {
    background-color: #68be8f;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-green-rounded:active {
    background-color: #469268; }
  /* line 62, ../sass/compassButtons.scss */
  .button-green-rounded:disabled:hover, .button-green-rounded:disabled:active {
    background-color: #58b783; }

/* line 66, ../sass/exampleButtons.scss */
.button-red-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: white;
  background-color: #d91f1f;
  border-color: #ad1818;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-red-rounded:hover {
    background-color: #dc3535;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-red-rounded:active {
    background-color: #ad1818; }
  /* line 62, ../sass/compassButtons.scss */
  .button-red-rounded:disabled:hover, .button-red-rounded:disabled:active {
    background-color: #d91f1f; }

/* line 70, ../sass/exampleButtons.scss */
.button-violet-rounded {
  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.6);
  color: white;
  background-color: #844dbd;
  border-color: #693d97;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  /* line 37, ../sass/compassButtons.scss */
  .button-violet-rounded:hover {
    background-color: #905ec3;
    text-decoration: none; }
  /* line 42, ../sass/compassButtons.scss */
  .button-violet-rounded:active {
    background-color: #693d97; }
  /* line 62, ../sass/compassButtons.scss */
  .button-violet-rounded:disabled:hover, .button-violet-rounded:disabled:active {
    background-color: #844dbd; }

/**
 *	just some basic page styling for the example-page
 *
 *
 */
/* line 23, ../sass/screen.scss */
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px; }

/* line 32, ../sass/screen.scss */
pre {
  font-family: Monospace; }
  /* line 37, ../sass/screen.scss */
  pre code {
    padding: 0; }

/* line 42, ../sass/screen.scss */
#wrapper {
  margin: 40px auto;
  width: 960px; }

/* line 47, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", Times, serif; }

/* line 53, ../sass/screen.scss */
h1 {
  font-size: 32px;
  margin-bottom: 20px; }
  /* line 59, ../sass/screen.scss */
  h1 span {
    color: #3d96e4; }

/* line 64, ../sass/screen.scss */
h2 {
  font-size: 18px;
  margin-bottom: 12px; }

/* line 71, ../sass/screen.scss */
hr {
  height: 1px;
  border: none;
  border-bottom: 1px solid #3d96e4;
  margin: 40px 0; }

/* line 78, ../sass/screen.scss */
p {
  margin-bottom: 35px;
  font-weight: normal; }
  /* line 84, ../sass/screen.scss */
  p.single-paragraph {
    margin-bottom: 0; }

/* line 89, ../sass/screen.scss */
a {
  color: #da3232;
  text-decoration: none; }
  /* line 93, ../sass/screen.scss */
  a:hover {
    text-decoration: underline; }

/* line 98, ../sass/screen.scss */
strong {
  font-weight: bold; }

/* line 103, ../sass/screen.scss */
ul li {
  padding: 10px;
  background: #eeeeee;
  margin-bottom: 10px; }
